ansible>=8.0
ansible-core>=2.15
alembic
ai21>=1.0.5
beautifulsoup4
cohere>=4.3.1
email-validator
Flask
huggingface-hub>=0.13.2
Jinja2
langchain>=0.0.160
names
numexpr>=2.8.4
openai>=0.27.2
openpyxl
pdfminer.six
playwright
prompt-toolkit
pydantic-computed
pyperclip
python-frontmatter
PyYAML
rich
sqlalchemy>=1.4.48,<=2
tiktoken
