ansible>=8.0
ansible-core>=2.15
alembic
ai21>=1.0.5
beautifulsoup4
cohere>=4.3.1
docutils>=0.20.1
email-validator
Flask
huggingface-hub>=0.13.2
Jinja2
langchain==0.0.217
names
numexpr>=2.8.4
openai>=0.27.8
openpyxl
pdfminer.six
playwright
prompt-toolkit
pydantic-computed
pyperclip
python-frontmatter
PyYAML
rich
textract @ git+https://github.com/thehunmonkgroup/textract@490bd4e7b6d1b24f007a4cf1288215c3d45e5895
sqlalchemy>=1.4.48
tiktoken
